* {
  padding: 0px;
  margin: 0px;
}
:root {
  --blue: rgb(0, 91, 170);
  --yellow: rgb(240, 175, 19);
}
@font-face {
  font-family: "Mitra";
  src: url("../font/B\ MITRA/B\ MITRA.TTF") format("truetype");
}
@font-face {
  font-family: "Mitra-Bold";
  src: url("../font/B\ MITRA/B\ MITRA\ BOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: bold;
}
body {
  font-family: Mitra;
}
.text-yellow {
  color: var(--yellow);
}
.text-blue {
  color: var(--blue);
}

.navbar {
  background-color: var(--blue);
  color: #fff;
}
.nav-item {
  display: block;
  height: 100%;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 5%;
}
.nav-item:hover::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.nav-link {
  font-family: Mitra-Bold;
  position: relative;
  color: #fff !important  ;
}

.search-box button {
  color: #fff;
  border-color: #fff;
  border-radius: 75px 0px 0px 75px;
}

.search-box button:hover {
  color: var(--blue);
  background-color: #fff;
}

.search-box input {
  border-radius: 0px 75px 75px 0px;
}

.btn-blue {
  color: #fff;
  background-color: var(--blue);
}

.btn-blue:hover {
  background-color: #fff;
  border-color: var(--blue);
  color: var(--blue);
}
.list-group-item:hover{
  background-color: rgba(0, 91, 170, 0.1);
}
/* data obj file */

.app {
  width: 80%;
}

.app-map-key,
.app-map-value {
  padding: 4px 6px;
  margin: 0 10px 10px 10px;
  width: 45%;
}

.app-map-add-pair,
.app-array-add-row {
  margin-right: 25px;
}

.app-array {
  width: 80%;
}
.app-map-add-pair {
  margin-left: 40px;
}

.app-separator {
  display: inline-block;
}

.app-map-key {
  font-weight: bold;
}

.app-map-key,
.app-map-value {
  border: 1px solid var(--blue);
  border-radius: 75px;
  padding: 7px 10px;
}

.app-input-textarea {
  resize: none;
  vertical-align: top;
  margin-top: 4px;
  padding: 25px;
  display: block;
  width: 100%;
}

.adding-btn {
  background-color: rgba(0, 91, 170);
  padding: 5px 10px;
  color: #fff;
}
.adding-btn:hover {
  background-color: rgba(0, 91, 170, 0.5);
}

.app-array-element > input {
  border: 1px solid rgba(0, 91, 170, 0.5);
}
.remove-button {
  padding: 3px;
  border: none;
  border-color: #ec0f0f;
}
.remove-button:hover {
  color: #ec0f0f;
  border:1px solid #ec0f0f;
}

.app-save {
  background-color: #39890b;
  border-color: #3ba50d;
  color: #fff;
  width: 30%;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.app-save:hover {
  background-image: linear-gradient(#5de02e, #2d9600);
}
.simple-pagination{
    padding: 10px auto !important;
}
.light-theme .current {
  background: var(--blue) !important;
  border-color: var(--blue) !important;
}
.ws-copyright {
  font-size: 0.8rem;
  text-align: center;
}
.ws-top-btn {
  position: fixed;
  left: 15px;
  bottom: 2px;
  color: var(--blue) !important;
  font-size: 30px;
}
